---
import ExperienceItem from "./ExperienceItem.astro";
import { getEntryBySlug } from 'astro:content';

const experienceData = await getEntryBySlug('experience', 'experience');
const EXPERIENCIE = experienceData.data.experiences;
---

<ol class="relative mt-16">
  {EXPERIENCIE.map((experiencie) => (
    <li>
      <ExperienceItem {...experiencie} />
    </li>
  ))}
</ol>
